@import "style.css";

#custom-updates {
    padding-right: 4px;
}

#cpu {
    padding-right: 4px;
}

#memory {
    padding-right: 4px;
}

#disk {
    padding-right: 4px;
}

#backlight { 
    color: @fg; 
    padding-left: 4px;
}

#bluetooth { 
    padding-right: 4px;
}

#bluetooth.connected { 
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 1px;
}

window#waybar #pulseaudio {
    color: @aqua;
    padding-right: 4px;
}
window#waybar #pulseaudio.muted {
    padding-right: 9px;
}
